# 4.9 Task 1 Merge Customers into the rest of the data

## Contents
### Import libraries and Customers DF
### Wrangle Data, i.e., rename and drop columns that don't add to the analysis
### Data Quality and Consistency checks
### Merge Customer data into rest of data

# Import libraries and Customers DF

In [2]:
# import Libraries
import pandas as pd
import numpy as np
import os

In [4]:
# assign path
path = r'C:\Users\Jack Bartman\OneDrive\CareerFoundry\Instacart Basket Analysis'

In [6]:
# import dataframe
cust = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

# Wrangle Data, i.e., rename and drop columns that don't add to the analysis

In [8]:
# rename Surnam as last_name
cust.rename(columns={'Surnam' : 'last_name'}, inplace =True)

In [10]:
# rename First Name as first_name
cust.rename(columns={'First Name' : 'first_name'}, inplace =True)

In [12]:
# rename STATE as state
cust.rename(columns={'STATE' : 'state'}, inplace =True)

In [14]:
# rename Gender as gender
cust.rename(columns={'Gender' : 'gender'}, inplace =True)

In [16]:
# rename Age as age
cust.rename(columns={'Age' : 'age'}, inplace =True)

In [26]:
cust.head()

,user_id,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

# Data Quality and Consistency checks

In [18]:
cust.describe()

             user_id            age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [ ]:
# doesnt look like there are obvious outliers, all numbers look reasonable.

In [ ]:
# Check for mixed types
for col in cust.columns.tolist():
  weird = (cust[[col]].map(type) != cust[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (cust[weird]) > 0:
    print (col)

In [ ]:
first_name

In [20]:
# assign 'first_name' to type string
cust['first_name']=cust['first_name'].astype('str')

In [30]:
for col in cust.columns.tolist():
  weird = (cust[[col]].map(type) != cust[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (cust[weird]) > 0:
    print (col)

In [ ]:
# no mixed values

In [22]:
#check for missing values
cust.isnull().sum()

user_id         0
first_name      0
last_name       0
gender          0
state           0
age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

In [24]:
# no missing values

In [ ]:
# check for duplicates

In [26]:
df_dups=cust[cust.duplicated()]

In [28]:
df_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

In [30]:
# no duplicates

In [32]:
# export checked file
cust.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'customers_checked.csv'))

# Merge Customer data into rest of data

In [35]:
# import Instacart df
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [37]:
cust = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'customers_checked.csv'), index_col = False)

In [39]:
# merge df's
df_merged_large=ords_prods_merge.merge(cust, on = 'user_id', indicator = True)

In [41]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers.pkl'))